<div class="row">
  <div class="col-md-6">
      <h2 class="bd-title mt-5 mb-4">List Ads</h2>
  </div>
  <div class="col-md-6">
      <div class="page-nav-right"><a class="btn btn-primary" [routerLink]="['/ads/create']">Create Ad</a></div>
  </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Catetory</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col">Post by</th>
        <th scope="col">Posted Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ad of ads">
        <td>{{ad.title}}</td>
        <td>{{ad.categoryName}}</td>
        <td>{{ad.price}}</td>
        <td><img *ngIf="ad.thumbnailUrl" [src]="ad.thumbnailUrl"/></td>
        <td>{{ad.status}}</td>
        <td>{{ad.createdBy}}</td>
        <td>{{ad.postedDate | date}}</td>
      </tr>
    </tbody>
  </table>
